$opacitycard: 0.9;

.catconteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 90vh;

    padding: 20px;
    .catleft {
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        background: url('../styles/assets/indexcat.svg');
        background-size: cover;
        width: 50%;
        height: 400px;
        padding: 20px;
        opacity: $opacitycard;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    .catright {
        display: flex;
        flex: 1;
        flex-direction: column;
        background: url('https://img.freepik.com/free-vector/hand-drawn-kawaii-illustration_52683-85164.jpg?w=1060&t=st=1683218436~exp=1683219036~hmac=fe90bce9b6fcedd1b9f2fd5ff5202c213d4f0ffdd132753aa60706160d1427b9');
        background-size: cover;
        align-items: flex-start;
        justify-content: flex-start;
        opacity: $opacitycard;
        border-radius: 10px;
        width: 50%;
        height: 400px;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    //No footer
    .catright2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        background: url('https://img.freepik.com/vector-gratis/conjunto-ilustracion-dibujos-animados-pata-gato-pie-animal-domestico_1284-51483.jpg?w=996&t=st=1685406051~exp=1685406651~hmac=05667c8a7ce9090f157cfcf8b313829f666c22ec9309ed0e5f0b32da4671aa95');
        background-size: cover;
        align-items: flex-start;
        justify-content: flex-start;
        opacity: $opacitycard;
        border-radius: 10px;
        width: 50%;
        height: 300px;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    //Footer
    .catfooter { 
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        //align-items: flex-end;
        justify-content: space-between;
        background: url('https://img.freepik.com/vector-gratis/color-of-the-year-2023-illustration_23-2149989585.jpg?w=996&t=st=1685406158~exp=1685406758~hmac=6a5ca177fb81b9fdf32b25167f104e57f1dea1e08cee1ea4a2a50624b0665c4b');
        background-size: cover;
        background-position: 0px -60px;
        width: 50%;
        height: 300px;
        padding: 20px;
        opacity: $opacitycard;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        .cright {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .cleft{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
        }
    }
    .catbuttom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: url('../styles/assets/largecat.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        opacity: $opacitycard;
        transition: all 0.3s ease-in-out;
    }
        .catright:hover, .catleft:hover, .catbuttom:hover, .catright2:hover, .catfooter:hover {
            opacity: 1;
            box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.256);
        }
}

.catinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 80%;

    .catinfoitem {
        flex: 1;
        background-color: rgba(240, 248, 255, 0.1);
        padding: 20px;
        border: dashed #ffffff11;
        border-width: 2px 5px;
        box-shadow: 0 0 10px rgba(84, 84, 84, 0.5);
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 668px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: scaleY(1.1);
            box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.17);
        }
        
    }
    .catinfoitem > div:last-child {
        flex-basis: calc(50% - 10px);
    }
    .catitemc {
        flex: 1;
        background-color: rgba(240, 248, 255, 0.1);
        padding: 20px;
        border: dashed #ffffff11;
        border-width: 2px 5px;
        border-radius: 10% 90% / 100% 100% 100% 100%;
        box-shadow: 0 0 10px rgba(84, 84, 84, 0.5);
    }
    .cat-contenedor-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.catleftx {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    transition: all 0.3s ease-in-out;
}

.catbutton2 {
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 700;
    margin: 10px 0 20px 0;
    color: rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease-in-out;
    &:hover {
        background-size: cover;
        transform: scale(1.1);
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.507);
        box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.5);
    }
}

.catbutton {
    background-color: rgb(255, 255, 255);
    //border: #333 solid 1px;
    border: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease-in-out;
    &:hover {
        background-size: cover;
        transform: scale(1.1);
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.507);
        box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.5);
    }
}

.indexcontainer {
    margin: 10px auto;
    max-width: 1200px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        //border: red solid 1px;
        transition: all 1s ease-in-out;
        &:hover {
            border: red inset 5px;
        }
    }
    .texto-frente {
        position: relative;
        top: 50px;
        left: 30%;
        font-size: 24px;
        //transform: translate(-50%, -50%);
        z-index: 1;
    }
  }

  .cat{
    width: 70px;
    height: 50px;
    margin: -10px;
    padding: -10px;
    border: red solid 1px;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(2);
    }
  }

  .itemspace {
    margin: 0 20px 0 -20px;
    //border: red solid 1px;
    .itemspace, img {
        //flex: 1 1 calc(33.33% - 10px);
        
        margin: 0.5%;
    }
  }

.catdescription { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 10px;
}
  
  .item {
    //border: red solid 1px;
    display: flex;
    flex: 1 1 20%;
    //border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
  }

      
  .itemop {

    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: flex-end;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;
    &:hover {
        //transform: scale(1.1);
        opacity: 1;
    }
    .itembutton {
        background-color: rgb(255, 255, 255);
        //border: #333 solid 1px;
        border: none;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.507);
        transition: all 0.3s ease-in-out;
        &:hover {
            background-size: cover;
            transform: scale(1.1);
            background-color: rgb(255, 255, 255);
            color: rgba(0, 0, 0, 0.507);
            box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.5);
        }
    }
  }
  
  .item:last-child {
    //width: calc(33.33% - 4px);
    margin: 2px;
  }

