nav {
    width: 100%;
    position: relative;

    padding: 0 20px;
    top: 0;


    .search-container {
        position: relative;
        z-index: 1000;
        input {
            width: 90%;
            //padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: #ffffff30;
            //color: #3a3131dc;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            &:focus {
                background-color: #ffffff50;
                color: #242121;
            }
            &::placeholder {
                color: #695040d6;

            }
        }
      }

      .search-icon {
        width: 1%;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%);
        h2 {
          color: #69524785;
          font-size: 1.5rem;
        }
      }

      .search-user {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;
        // width: 100%;
        // position: absolute;
        // top: 20px;
        // left: 95%;
        // transform: translateY(-50%);
      }

      .back {
        position: absolute;
        top: -15px;
        left: 470px;
        display: flex;
        flex-direction: row;
        width: 50px;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }

      //mobile
      @media screen and (max-width: 668px) {
        .search-container {
          width: 100%;
          input {
            width: 80%;
          }
          .search-user {
            left: 390px;
          }
        }
        .back {
          left: 140px;
        }
        @media screen and (max-width: 438px) {
            .search-container {
              width: 100%;
              input {
                width: 88%;
              }
              .search-user {
                left: 320px;
              }
            }
            .back {
              left: 100px;
            }
        }
    }

    .navcont {
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding: 10px;
        background-color: #e7ecef64;
        backdrop-filter: saturate(180%) blur(5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
    }
    .navbar-brand {
        display: flex;
        gap: 10px;
        color: #555;
        font-size: 20px;
        font-weight: 600;
        padding: 15px 0;

            .nav-item {
                opacity: 0.5;
                transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 1;
                color: #ececec;
            }
        }
    }
}
