---
import Cuerpo from "../components/Cuerpo.astro";
import InfoCat from "../components/InfoCat.astro";
import Selector from "../components/Selector.astro";
---

<Cuerpo>
    <h1> Cats </h1>
    <Selector/>
    <InfoCat />
</Cuerpo>
