---
import Cuerpo from "../components/Cuerpo.astro";
import Inicio from "../components/Inicio.astro";
import ApiCat from "../components/ApiCat.astro";
import InfoCat from "../components/InfoCat.astro";
---

<Cuerpo>
  <h1>Cat Api</h1>

  <InfoCat />
</Cuerpo>
