---
const res = await fetch('https://api.thecatapi.com/v1/images/search?size=full')
const data = await res.json()
console.log(data[0].url) 
--- 


<section class=" grid"> 
{
    data.map((cat) => {
        return (
            <div>
                <img src={cat.url} alt  = "cat" />
            </div>
        )
    })
}
</section>