---
---

<header class="box">
  <!-- bg-zinc-800  -->
  <h1>Inicio</h1>

  <article class="box-sphp">
    <p2>
      Los gatos son animales muy inteligentes, pero no todos los gatos son
      iguales.
      <br />
      Hola soy un gato muy inteligente, pero no todos los gatos son iguales.
    </p2>
  </article>
</header>
