---

---
<header class=" bg-zinc-800 p-20">
<h1 class=" text-4xl font-mono mb-5"> Inicio </h1>

<p> JavaScript es un lenguaje de programación que se ejecuta en el navegador del usuario.
</p>
</header>