---
const {title} = Astro.props;
const {url} = Astro.props;
---

<a class="bd-tw-button button" href={url}> {title} </a>


<!--<li class=" bg-blue-500 rounded-lg px-3 py-2"><a href="/Cats"> Cats </a></li>
<li class=" bg-blue-500 rounded-lg px-3 py-2"><a href="/blog"> Blogs </a></li> -->