---
import SelectorM from "./SelectorM.astro";

const catmenu = [
    {
        catname: 'Bengal',
        catvalue: 'Bengal'
    },
    {
        catname: 'Aegean',
        catvalue: 'Aegean'
    },
    {
        catname: 'Abyssinian',
        catvalue: 'Abyssinian'
    }
]

const handlechange = (event) => {
    console.log(event.target.value)
}

export const handleSubmit = (e) => {
    e.preventDefault();
    if (e.target.cat.value === 'Bengal') {
        console.log('Bengal');
    } else if (e.target.cat.value === 'Aegean') {
        console.log('Aegean');
    } else if (e.target.cat.value === 'Abyssinian') {
        console.log('Abyssinian');
    }
}

---
<form onsubmit={(e) => handlechange(e.target.value)}>
    <SelectorM catmenu={catmenu} />
    <button type="submit">Submit</button>
     </form>

<div class="field has-addons">
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select name="cat">
    {
                    catmenu.map((item) => {
                    return (
                        <option value={item.catvalue}>{item.catname}</option>
                    )
                })
    }
        </select>
      </div>
    </div>
    <div class="control">
      <button type="submit" onchange="" class="button is-primary">Choose</button>
    </div>
  </div>
  <div class="mb"> </div>